body {
  display: flex;
  justify-content: center; 
  align-items: center;       
  height: 100vh;             
  margin: 0;
  background-color: #f0f0f0;
}
#clock {
  background-color: #113a5b; 
  color: white;
  padding: 30px 50px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}


#clock:hover {
  background-color: #4a9aef;
}